.rodape{
  background: linear-gradient(90deg, rgba(90,147,131,1) 0%, rgba(73,134,116,1) 35%, rgba(34,111,93,1) 100%);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:50px;
  font-family: "Montserrat", serif;
  text-transform: uppercase;
}

.rodape_infos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

}

.rodape_infos_logo{
  max-width: 200px;
}

.rodape_infos_nome{
  font-weight: bold;
}
.rodape_infos_texto{
  letter-spacing: 1px;
  max-width: 450px;
  text-align: center;
}
.rodape_infos_detalhe{
  font-style: italic;
}


.rodape_menu{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rodape_menu_item{
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  font-size: 18px;
  color: white;

}

.rodape_menu_item:hover{
  text-decoration: underline;
}

.rodape_socials{
  display: flex;
  max-width: 400px;
  gap: 20px;
  flex-direction: column;
}

.rodape_links_icons_item{
  color: white;
  display: flex;
  gap: 10px;
  letter-spacing: 1px;
  text-decoration: none;
}
.rodape_links_icons_item:hover{
  text-decoration: underline;
}

@media (max-width: 768px) {
  .rodape{
    padding:5px;
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }
  
  
  .rodape_infos_logo{
    max-width: 100px;
  }
  
  
  .rodape_menu{
    display: none;
  }
  
  .rodape_menu_item{
    padding: 5px 10px;
    font-size: 16px;
  }

  
  .rodape_socials{
    width: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .rodape_links_icons_item{
    gap: 5px;
    font-size: 14px;
  }


}